<!DOCTYPE html>
<html>
<body>
  <h2>Upload file (chunk)</h2>

  <input type="file" id="fileInput" />
  <button onclick="upload()">Upload</button>
  <!-- <p id="status">Status:</p> -->
  <h3>Files:</h3>
  <ul id="files"></ul>

  <script>
    async function upload() {
      const file = document.getElementById('fileInput').files[0];
      const chunkSize = 256 * 1024;

      let start = 0;

      await fetch(`/upload?fileId=${file.name}`, {
        method: 'POST',
        body: file
      });

      loadFiles();
      // startPolling(file);
    }

    async function loadFiles() {
      const res = await fetch('/files');
      const files = await res.json();

      const ul = document.getElementById('files');
      ul.innerHTML = '';

      files.forEach(f => {
        const li = document.createElement('li');
        li.innerHTML = `
          ${f}
          <button onclick="view('${f}')">View</button>
          <button onclick="del('${f}')">Delete</button>
        `;
        ul.appendChild(li);
      });
    }

    function view(name) {
      window.open(`/files/${name}`);
    }

    async function del(name) {
      await fetch(`/files/${name}`, { method: 'DELETE' });
      loadFiles();
    }

    // function startPolling(file) {
    //   const interval = setInterval(async () => {
    //     // if (!currentFileId) return;

    //     const res = await fetch(`/status/${encodeURIComponent(file.name)}`);
    //     console.log('Status response', res);
    //     const data = await res.json();

    //     // обновляем статус
    //     const status = data.status?.status || 'unknown';
    //     document.getElementById('status').innerText = status;

    //     // если загрузка закончена или ошибка — останавливаем polling
    //     if (status === 'done' || status === 'error') {
    //       clearInterval(interval);
    //     }
    //   }, 500); // опрашиваем каждые 0.5 секунды
    // }

    loadFiles();
  </script>
</body>
</html>
